<h1 class="page-header">Edit: <%= @question.title %></h1>
<%= form_for @question do |f|%>
  <%= f.text_field :title %>
  <%= f.text_area :content, rows: 25, cols: 47 %>
  <%= f.submit 'submit', id: 'submit' %>
<% end %>