<%= link_to 'log out', session_path(current_user), :method => :delete %>
<br>
<h2><%= @question.title %></h2>
<p>
  created by <%= @question.user.username %>
  <br>
  <br>
  <%= @question.content %>
</p>

<%= link_to 'Delete', question_path(@question), :method => :delete %>
<%= link_to 'Edit', edit_question_path(@question) %>