<h1>Create an Account</h1>

<ul>
<%= form_for @user do |f| %>
    <li><%= f.text_field :username, placeholder: 'username' %></li>
    <li><%= f.text_field :email, placeholder: 'email' %></li>
    <li><%= f.text_field :cohort, placeholder: 'cohort' %></li>
    <li><%= f.password_field :password, placeholder: 'password' %></li>
    <li><%= f.password_field :password_confirmation, placeholder: 'confirm password' %></li>
    <li><%= f.submit %></li>
<% end %>
</ul>