<h1 class="page-header">Create an Account</h1>

<ul>
<%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: 'username' %>
    <%= f.text_field :email, placeholder: 'email' %>
    <%= f.text_field :cohort, placeholder: 'cohort' %>
    <%= f.password_field :password, placeholder: 'password' %>
     <%= f.password_field :password_confirmation, placeholder: 'password_confirmation'%>
    <%= f.submit 'Create an Account', id: 'submit' %>
<% end %>
</ul>
